---
layout: default
---
<section class="content">
	<div class="content-cnt fn-clear">
		<div class="main fn-clear">
			{% for rpost in paginator.posts %}
            	<article class="main-excerpt fn-clear">
                    <h3 class="main-excerpt-title"><a href="{{ rpost.url }}" title="{{ rpost.title }}" rel="bookmark">{{ rpost.title }}</a></h3>
                    <p class="date"><time pubdate="{{ rpost.date }}">{{ rpost.date | date_to_string }}</time></p>
                    <p>{{ rpost.description }}</p>
                   	<p class="more"><a href="{{ rpost.url }}" title="Read More" rel="nofollow"><span>&#10149;</span>Read More</a></p>
                </article>
            {% endfor %}
            {% if paginator.total_pages > 1 %}
		        <nav id="pagination">
		            <ul class="pagination">
		                {% for page in (1..paginator.total_pages) %}
		                    {% if page == paginator.page %}
		                        <li class="current"><a href="javascript:void(0);">{{ page }}</a></li>
		                    {% else %}
		                        <li><a href="/{%if page > 1 %}page{{ page }}/{% endif %}">{{ page }}</a></li>
		                    {% endif %}
		                {% endfor %}
		            </ul>
		        </nav>
		    {% endif %}			
		</div>
		<div class="aside fn-clear">
			{% include wg-contact.html %}
			{% include wg-project.html %}
			{% include wg-other.html %}
		</div>
	</div>
</section>
