<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<item>
		<title>Shell Command Line</title>
		<command>exit --shell</command>
	</item>
	<item>
		<title>Classic Video Game Tetris</title>
		<command>tetris</command>
	</item>
	<item>
		<title>Lua test ...</title>
		<command>exec /romdisk/samples/</command>
	</item>
</menu>
