<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<item>
		<title>Boot Android</title>
		<command>fileram -f /ramdisk/boot/zImage-android 0x20008000; bootlinux 0x20008000 0x20000100 2456 "console=ttySAC2,115200";</command>
	</item>
	<item>
		<title>Boot Linux</title>
		<command>fileram -f /ramdisk/boot/zImage-initrd 0x20008000; bootlinux 0x20008000 0x20000100 2456 "console=ttySAC2,115200";</command>
	</item>
	<item>
		<title>Shell Command Line</title>
		<command>exit --shell</command>
	</item>
	<item>
		<title>Reboot System</title>
		<command>reboot</command>
	</item>
	<item>
		<title>Shutdown System</title>
		<command>halt</command>
	</item>
</menu>